@import 'balloon';
@import 'fonts';
@import 'layouts';

* {
  box-sizing: border-box;
}

.App {
  background-image: url("../media/hot-air-ballons-sky.jpg");
  background-position: center;
  background-size: cover;
  @extend %app-layout;
}

@media screen and (max-width: 600px) {
  .App {
    min-height: 700px;
  }
}
