@import 'balloon';
@import 'fonts';
@import 'layouts';

.App {
  background-image: url("../media/hot-air-ballons-sky.jpg");
  background-position: center;
  background-size: cover;
  @extend %app-layout;
}
