.hot-air-balloon {
  animation-direction: alternate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: balloon-fly;
  animation-timing-function: linear;
  position: absolute;
  width: 20px;
}

@keyframes balloon-fly {
  0% {left: -200px;}
  100% {left: 100%;}
}