@import 'variables';
@import 'buttons';

.Card {
  background-color: $container-color;
  border-radius: $border-radius;
  border: $border;
  margin: 2% 0 20% 0;
  padding: 2%;
  text-align: center;
  width: 40%;
  z-index: 0;

  h4 {
    font-size: $font-size;
    min-height: 75px;
  }
}
