@import 'variables';

.Scoreboard {
  background-color: $container-color;
  border-radius: $border-radius;
  border: $border;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  width: 50%;
  z-index: 0;
}

@media screen and (max-width: 600px) {
  .Scoreboard {
    align-items: center;
    flex-direction: column;
    font-size: .8em;
    margin: 5% 0%;
    min-height: 568px;  
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .Scoreboard {
    font-size: .8em;
    width: 70%;
  }
}