@import 'variables';

.Scoreboard {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  background-color: $container-color;
  border-radius: $border-radius;
  border: $border;
  padding: 2%;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .Scoreboard {
    width: 80%;
    font-size: .8em;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .Scoreboard {
    width: 70%;
    font-size: .8em;
  }
}