// Border Variables
$border-color: #211a90;
$border: $border-color 2px solid;
$border-radius: 5px;

// Color Variables
$container-color: #e3f0f6d6;
$hover-color: #bdddec;

// Font Variables
$font-size: 1.2em;

// Box Shadow
$box-shadow: 1px 3px 3px #1a21248c;