// Border Variables
$border-color: #211a90;
$border: $border-color 2px solid;
$border-radius: 5px;

// Color Variables
$container-color: #e3f0f6f7;
$hover-color: #bdddec;

// Font Variables
$font-size: 1.2em;