* {
  font-family: 'OpenDyslexic';
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../media/chuttersnap-541390-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.App-header {
  background: #e3f0f6cc;
  margin: 1%;
  padding: 0 4%;
  border-radius: 5%;
  border: #211a90 2px solid;
}

.mandala {
  animation: mandala-spin infinite 120s linear;
  position: absolute;
  width: 40%; 
}

@keyframes mandala-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
